body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container {
  width: 500px;
  height: 75px;
  margin: 0px auto;
  margin-top: 10px;
  text-align: left;
  overflow: scroll-x;
}

.warning-text {
  margin-left: 10px;
  display: inline-block;
  font-size: 18px;
  position: absolute;
  margin-top: 10px;
  width: 421px;
}
